<div class="checkout-block" id="block-custom" style="display: none">
    <button type="button" class="button action primary" id="getModalData" onclick="econtModalHelper.loadModal()">
        <span data-bind="i18n: 'Калкулирай цена'"></span>
    </button>
</div>
<!-- <div id="meee">
    <button type="button" class="action" data-trigger="trigger" id="getModalData">
        <span data-bind="i18n: 'Click Here'"></span>
    </button>
    <div id="econt-iframe-modal" data-bind="mageInit: {
            'Magento_Ui/js/modal/modal':{
                'type': 'popup',
                'title': jQuery.mage.__('Доставка с Еконт'),
                'trigger': '[data-trigger=trigger]',
                'responsive': true,
                'showLoader': true,
                'buttons': [{
                    text: jQuery.mage.__('Submit'),
                    class: 'action'
                }]
            }}">
        <div id="place_iframe_here" class="content"></div>
    </div>
</div> -->